/S2/Java/TP4/Biblio-3/build/
/S2/Java/TP5/Biblio tp5/nbproject/private/
/S2/Java/TP5/Biblio-TP5/nbproject/private/
/S2/Java/TP5/Biblio-TP5/dist/
/S2/Java/TP6/Biblio-TP6/nbproject/private/
/S2/Java/TP6/Biblio-TP6/dist/
/S2/Java/TP7/Biblio-TP6/nbproject/private/
/S2/Java/TP7/Biblio-TP7/nbproject/private/
/S2/Java/TP8/Biblio-TP8/nbproject/private/
/S2/Java/TP2/Bibliotheque-1/Bibliotheque-1/nbproject/private/
/S2/Java/TP2/Bibliotheque-1/Bibliotheque-1/build/
/S2/Java/TP3/Bibliotheque-2/nbproject/private/
/S2/Java/TP3/Bibliotheque-2/dist/
/S2/Java/TP8/Biblio-TP8/dist/
/S2/Java/TP4/Bibliotheque-3/nbproject/private/
/S2/Java/TP5/Bibliotheque-4/nbproject/private/
/S2/IHM/IHM-EX1/nbproject/private/
/S2/IHM/IHM-EX1/build/
/S2/Java/TP6/Bibliotheque-5/nbproject/private/
/S2/Java/TP7/Bibliotheque-6/nbproject/private/
/S2/Java/TP8/Bibliotheque-7-V2/nbproject/private/
/S2/Java/TP8/Bibliotheque-7/nbproject/private/
/S2/IHM/IHM-EX1/dist/
/S2/BD/TP-Java/nbproject/private/
S3/SE/TP1/EX1/monEcho
S3/SE/TP1/EX2/monCat
S3/SE/TP1/EX2/write
S3/SE/TP1/EX3/monCp
