[Desktop Entry]
Type=Application
Name=Cours
Exec=chromium-browser http://universite-lyon.academia.edu/MohammedBelkhatir/M2103-POO
Terminal=false
Icon=browser
